@using HomeAutomationWebServer.Models
@{
    ViewBag.Title = "Home Automation Web Server";
}
<script type="text/javascript" src="../../Scripts/Custom/updatesensors.js"></script>
<script type="text/javascript" src="../../Scripts/Libs/jquery-1.10.2.min.js"></script>

<h1>@ViewBag.Title</h1>
<p class="lead">Will display infromation from sensors and some Interner sites (news, info, whether and so on).</p>
<div class="current_time">Current Time: @Model.CurrentDateTime.ToString()</div>
<br/>
<div class="device_detail">
    <h3>CPU INFO</h3>
    <div><strong>Name: </strong>@Model.CpuInfo.Name</div>
    <div>
        <strong>Power: </strong>
        <input type="text" id="power-id" readonly>
    </div>
    <div>
        <strong>Load: </strong>
        <input type="text" id="load-id" readonly>
    </div>
    <br />
    @foreach (var cpuItem in Model.CpuInfo.items)
    {
        <div class="item_detail">
            <div>Name: @cpuItem.Name</div>
            <div>Temperature: <label style="color: blue">@cpuItem.Temperature</label></div>
        </div>
    }
</div>
@foreach (var videoItem in Model.VideoInfo)
{
    <div class="device_detail">
        <h3>VIDEO INFO</h3>
        <div><strong>Name: </strong>@videoItem.Name</div>
        <div>
            <strong>Temperature: </strong>
            <label style="color: blue">@videoItem.Temperature</label>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function() {
        updateCpuInfo();
        //setTimeout(updateCpuInfo, 1000);

        var timerId = setInterval(function() {
            updateCpuInfo();
        }, 5000);
    });
</script>