@using HomeAutomationWebServer.Models
@{
    ViewBag.Title = "Home Automation Web Server";
}
<script type="text/javascript" src="~/Scripts/Libs/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/Custom/updatesensors.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        updateCompInfo();
        //setTimeout(updateCpuInfo, 1000);

        var timerId = setInterval(function() {
            updateCompInfo();
        }, 10000);
    });
</script>

<h1>@ViewBag.Title</h1>
<p class="lead">Will display infromation from sensors and some Interner sites (news, info, whether and so on).</p>
<div class="current_time">Current Time: @Model.CurrentDateTime.ToString()</div>
<br/>
<div class="device_detail">
    <h3>CPU INFO</h3>
    <div><strong>Name: </strong>@Model.CpuInfo.Name</div>
    <div>
        <label class="item-header">Power: </label>
        <input type="text" class="item-input" id="power-id" value=@Model.CpuInfo.Power readonly>
    </div>
    <div>
        <label class="item-header">Load: </label>
        <input type="text" class="item-input" id="load-id" value=@Model.CpuInfo.Load readonly>
    </div>
    <br />
    @{ int item = 0; }
    @foreach (var cpuItem in Model.CpuInfo.items)
    {
        string idValue = string.Format("cpu-input-item{0}", item);
        item++;
        <div class="item_detail">
            <div>Name: @cpuItem.Name</div>
            <label class="item-header">Temperature: </label>
            <input type="text" class="item-input" id=@idValue style="color: blue" value=@cpuItem.Temperature readonly>
        </div>
    }
</div>
@{ item = 0; }
@foreach (var videoItem in Model.VideoInfo)
{
    string idValue = string.Format("video-input-item{0}", item);
    item++;
    <div class="device_detail">
        <h3>VIDEO INFO</h3>
        <div><strong>Name: </strong>@videoItem.Name</div>
        <div>
            <label class="item-header">Temperature: </label>
            <input type="text" class="item-input" id=@idValue style="color: blue" value=@videoItem.Temperature readonly>
        </div>
    </div>
}