
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="Refresh" content="120">

<div class="row">
    <br />
    <div class="user-wrapper">
        <h3>Trading info from crex24.com: @ViewBag.UpdatedDate</h3>
    </div>
    <br />
    <br />
    <div>       
        <table id="UsersTable" class="table table-condensed table-lined table-hover tablesorter table-rezervirovanie">
            <thead>
                <tr>
                    <th class="header">Crypto Currency PATH</th>
                    <th class="header">Previous volume</th>
                    <th class="header">Volume</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.Trades)
            {
                <tr>
                    <td>@item.CryptoPath </td>
                    <td>@item.PrevOut </td>
                    <td>@item.VolumeOut </td>
                </tr>
            }
        </table>
    </div>
    <div>
        <h3>Trading PAIR</h3>
        <table id="PairssTable" class="table table-condensed table-lined table-hover tablesorter table-rezervirovanie">
            <thead>
                <tr>
                    <th class="header">Crypto Currency Pair</th>
                    <th class="header">Продать</th>
                    <th class="header">Купить</th>
                    <th class="header">Рекомендация</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.Pairs)
            {
                <tr>
                    <td style="color: @item.Color" >@item.Symbol </td>
                    <td style="color: @item.ColorRecom" >@item.SellingRate </td>
                    <td style="color: @item.ColorRecom1" >@item.PurchaseRate </td>
                    <td>@item.RecommendRate </td>
                </tr>
            }
        </table>
    </div>
    <div>
        <h3>Trading DONE or recommend</h3>
        <table id="PairssTable" class="table table-condensed table-lined table-hover tablesorter table-rezervirovanie">
            <thead>
                <tr>
                    <th class="header">Crypto Currency Pair</th>
                    <th class="header">Продал</th>
                    <th class="header">Купил</th>
                    <th class="header">Комментарии</th>
                    <th class="header">Дата</th>
                </tr>
            </thead>
            @foreach (var item in ViewBag.PairsProc)
            {
                <tr>
                    <td>@item.Symbol </td>
                    <td>@item.SellingRate </td>
                    <td>@item.PurchaseRate </td>
                    <td>@item.Comment </td>
                    <td>@item.UpdatedDate.ToString()</td>
                </tr>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    var myJsVariable = '@ViewBag.Alert';
    if (myJsVariable === 'True') document.title = "!!! ВНИМАНИЕ !!!";
</script>